th,
td {
  text-align: left;
  color: black;
  padding: 10px;
}
.skill_table {
  border-collapse: separate;
  border-spacing: 10px;
}
.star_col_1 {
  color: black;
  padding-left: 12%;
}

.star_col_2 {
  color: black;
}

.row {
  display: flex;
}

body {
  background-color: white !important;
}

p,
li,
a:link {
  color: #2c2c35;
  padding-left: 10px;
}

h1,
h2 {
  color: black;
  padding-left: 10px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

.left {
  min-width: 250px; /*the desired min-width*/
}
